*.task filter=lfs diff=lfs merge=lfs -text
C:/Android/Drsti/app/src/main/assets/smollm2_instruct.task filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/smollm2_instruct.task filter=lfs diff=lfs merge=lfs -text
